
html{
    margin: 0;
    width: 100%;
    height: 100%;
    background: whitesmoke;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    align-items: center;
}

body {
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}


@keyframes tracking-in-contract{0%{letter-spacing:1em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}}
h1{animation:tracking-in-contract .8s cubic-bezier(.215,.61,.355,1.000) both}
h1 {
    margin-top: 100px;
    color: #ffffff;
    font-size: 4rem;
    text-align: center;
    text-shadow: 5px 5px #0b0d22;

}
.header{
    height: 250px;
    margin-top: 0;
    background: #3a81da;
    width: 100%;
}

.form{
    display: flex;
}

.text-input {
    position: relative;
    margin-top: 60px;
    margin-bottom: 50px;
}

input[type="text"]{
    display: inline-block;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px 10px 10px 100px;
    transition: all 0.1s ease-out;
}

input[type="text"] + label{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 3px 0 3px 3px;
    padding: 0 20px;
    background: #3a81da;
    transform: translateZ(0) translateX(0);
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
}

input[type="text"]:focus + label{
    transform: translateY(-120%) translateX(0%);
    border-radius: 4px;
    transition: all 0.1s ease-out;
}

input[type="text"]:focus{
    padding: 10px;
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
}

#input1{
    margin-left: 20px;
}

label{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: white;
    background: #3a81da;
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
    border-radius: 4px;
    padding: 10px;
}
select{
    top: 0;
    left: 0;
    bottom: 0;
    height: 40px;
    line-height: 40px;
    color: #0b0d22;
    transition: all 0.3s ease-in;
    transition-delay: 0.2s;
    border-radius: 4px;
    padding: 10px;
}

.languages{
    display: inline-block;
    width: 100%;
    align-self: center;
    margin-bottom: 50px;
}

.left{
    display: inline-block;
}

.right {
    display: inline-block;
    margin-left: 100px;
}

th{
    border-bottom: 1px solid #1e2950;
    text-transform: uppercase;
}

td{
    text-transform: lowercase;
}

th, td {
    background: whitesmoke;
    width: 100%;
    font-size: 12px;
    padding: 15px;
    text-align: left;
}


.submit input{
    margin-top: 50px;
    background-color: #3a81da;
    border: 1px;
    border-radius: 4px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: all 0.3s ease-out;
}

.submit input:hover {background-color: #008a1d}

.submit input:active {
    background-color: #008a1d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



.update input{
    margin-top: 50px;
    background-color: #3a81da;
    border: 1px;
    border-radius: 4px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: all 0.3s ease-out;
}

.update input:hover {background-color: #244B8A}

.update input:active {
    background-color: #244B8A;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.delete input{
    margin-top: 50px;
    background-color: #3a81da;
    border: 1px;
    border-radius: 4px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    transition: all 0.3s ease-out;
}

.delete input:hover {background-color: #244B8A}

.delete input:active {
    background-color: #244B8A;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.delete input:hover {background-color: #c00100
}

.delete input:active {
    background-color: #c00100;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
