.icon-container {
    text-align: center;
}

.icon-button {
    margin-top: 32px;
}

.centered {
    text-align: center;
}

.form {
    margin-bottom: 20px;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.table-col-small {
    width: 5%;
}

.table-col-medium {
    width: 10%;
}